* {
  font-family: "K2D";
}
header {
  border-bottom: 3px solid #c0c0c0;
  padding: 20px;
}
.uni-header {
  color: #ffc700;
  margin-left: 20px;
  margin-bottom: 0px;
  display: inline;
}
.market-icon {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
header .icon-header {
  max-width: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.circle-number {
  position: absolute;
  right: -2px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border-radius: 50%;
  color: white;
  height: 14px;
  width: 14px;
  font-size: 10px;
}
.address-note {
  border: 2px solid black;
  border-radius: 20px;
  min-width: 250px;
  padding-left: 10px;
  padding-right: 10px;
}
.search-food {
  margin-left: 50px;
}
@media screen and (max-width: 890px) {
  .address-note {
    display: none;
  }
  .search-food {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .col.icon-header {
    display: none;
  }
}
.linkStyle {
  color: #a9a9a9;
  margin-top: 15px;
  margin-left: 15px;
}
.linkStyleColor {
  color: #a9a9a9;
}
.note-style {
  font-size: small;
  color: #a9a9a9;
}
.container.container-border-page {
  max-width: 96%;
  border-top: 0.5px solid #dcdcdc;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 3px solid #c0c0c0;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.like-style {
  background: #d9d9d9;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}
.comment-style {
  background: #ffc700;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 150px;
  margin-left: 10px;
}
.comment-note-style {
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: 10px;
  background: #d9d9d9;
  height: 40px;
}
.container.container-border-modal {
  border-top: 0.5px solid #dcdcdc;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 3px solid #c0c0c0;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
